swagger: '2.0'
info:
  description: API Hotmart Challenge
  version: 1.0.0
  title: hotmart-challenge
  contact:
    name: Bismarck - Desafio Hotmart
    email: bismarck@ufmg.br
host: api.hotmart.com.br
basePath: /v1/hotmart-challenge
schemes:
  - http
produces:
  - application/json
consumes:
  - application/json
parameters:
  IdProduct:
    name: productCode
    type: integer
    in: path
    required: true
    description: Código do produto
  IdBuyer:
    name: buyerCode
    type: integer
    in: path
    required: true
    description: Código do comprador
  IdSalesman:
    name: salesManCode
    type: integer
    in: path
    required: true
    description: Código do Vedendor
  IdSales:
    name: salesCode
    type: integer
    in: path
    required: true
    description: Código do Vedas
  IdProductCategory:
    name: ProductCategoryCode
    type: integer
    in: path
    required: true
    description: Código da cartegoria de Produto
  Description:
    name: description
    in: header
    type: string
    required: true
    description: Descricao do produto
  SalesMan:
    name: salesMan
    in: header
    type: string
    required: true
    description: Nome do vendedor
  Buyer:
    name: buyer
    in: header
    type: string
    required: true
    description: Nome do comprador
  Product:
    name: product
    in: header
    type: string
    required: true
    description: Nome do produto
definitions:
  ProductReturn:
    type: object
    properties:
      productCode:
        type: integer
        description: id do produto
        example: 1
      product:
        type: string
        description: Nome do produto
        example: Produto-A1
      description:
        type: string
        description: Descrição do produto
        example: produto de teste A1
      creationDate:
        type: string
        example: 16/09/2020
        description: data de criação
  BuyerReturn:
    type: object
    properties:
      buyerCode:
        type: integer
        description: id do produto
        example: 1
      buyer:
        type: string
        description: Nome do comprador
        example: Nome do comprador
  SalesManReturn:
    type: object
    properties:
      SalesManCode:
        type: integer
        description: id do vedendor
        example: 1
      salesMan:
        type: string
        description: Nome do vedendor
        example: Nome do vedendor
  CategoryReturn:
    type: object
    properties:
      productCategoryCode:
        type: integer
        description: id do categoria
        example: 1
      productCategory:
        type: string
        description: Nome do categoria
        example: Nome do categoria
  ProductCategoryReturn:
    type: object
    properties:
      ProductCategoryCode:
        type: integer
        description: id do categoria
        example: 1
      ProductCategory:
        type: string
        description: Produto da categoria
        example: Produto da categoria
  SalesReturn:
    type: object
    properties:
      salesCode:
        type: integer
        description: id do vendas
        example: 1
      salesMan:
        type: string
        description: Nome do vedendor
        example: Juliana
      buyer:
        type: string
        description: Nome do comprador produto
        example: Bismarck
      product:
        type: string
        description: Descrição do produto vendido
        example: Gopro Hero 7
  ErrorReturn:
    type: array
    items:
      $ref: '#/definitions/Error'
  Error:
    description: Erro de validação
    type: object
    required:
      - code
      - description
    properties:
      code:
        type: string
        description: Código do erro
        example: 23
      description:
        type: string
        description: Descrição do erro
        example: Nome não pode ficar em branco
paths:
  /Product:
    get:
      tags:
        - Product
      summary: Recupera a lista geral de produtos
      description: Recupera a lista de produtos
      operationId: getConsultarProdutos
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Lista de produtos
          schema:
            $ref: '#/definitions/ProductReturn'
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
    post:
      tags:
        - Product
      summary: Faz cadastro de produto
      description: Faz cadastro de produto
      operationId: postCadastrarProduto
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdProduct'
        - $ref: '#/parameters/Product'
        - $ref: '#/parameters/Description'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    put:
      tags:
        - Product
      summary: Alterar cadastro de um produto
      description: Alterar cadastro de um produto
      operationId: putAlterarProduto
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdProduct'
        - $ref: '#/parameters/Product'
        - $ref: '#/parameters/Description'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    delete:
      tags:
        - Product
      summary: Deletar produto
      description: Deletar produto
      operationId: deletarProduto
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdProduct'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
  '/Product/{idProduct}':
    get:
      tags:
        - Product
      summary: Buscar informações de produtos por Id
      description: Buscar informações de produtos por Id
      operationId: getConsultarProdutoId
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: idProduct
          type: integer
          in: path
          required: true
      responses:
        '200':
          description: Sucesso
          schema:
            $ref: '#/definitions/ProductReturn'
        '401':
          description: Não autorizado
        '403':
          description: Acesso negado
        '404':
          description: Cartões não encontrados
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
  /Buyer:
    get:
      tags:
        - Buyer
      summary: Recupera a lista geral de comprador
      description: Recupera a lista de comprador
      operationId: getConsultarCommprador
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Lista de comprador
          schema:
            $ref: '#/definitions/BuyerReturn'
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
    post:
      tags:
        - Buyer
      summary: Cadastro de comprador
      description: Cadastro de comprador
      operationId: postCadastrarComprador
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdBuyer'
        - $ref: '#/parameters/Buyer'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    put:
      tags:
        - Buyer
      summary: Alterar cadastro do comprador
      description: Alterar cadastro do comprador
      operationId: putAlterarComprador
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdBuyer'
        - $ref: '#/parameters/Buyer'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    delete:
      tags:
        - Buyer
      summary: Deletar comprador
      description: Deletar comprador
      operationId: deletarComprador
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdBuyer'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
  '/Buyer/{buyerCode}':
    get:
      tags:
        - Buyer
      summary: Buscar informações do comprador especifico por id
      description: Buscar informações do comprador especifico por id
      operationId: getConsultarCompradorId
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: buyerCode
          type: integer
          in: path
          required: true
      responses:
        '200':
          description: Sucesso
          schema:
            $ref: '#/definitions/BuyerReturn'
        '401':
          description: Não autorizado
        '403':
          description: Acesso negado
        '404':
          description: Cartões não encontrados
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
  /Salesman:
    get:
      tags:
        - Salesman
      summary: Recupera a lista geral de vendedores
      description: Recupera a lista de vendedores
      operationId: getConsultarVendedor
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Lista de motivos
          schema:
            $ref: '#/definitions/SalesManReturn'
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
    post:
      tags:
        - Salesman
      summary: Salvar cadastro de vendedor
      description: Salvar cadastro de vendedor
      operationId: postCadastrarVendedor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdSalesman'
        - $ref: '#/parameters/SalesMan'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    put:
      tags:
        - Salesman
      summary: Alterar o cadastro de vendedor
      description: Alterar o cadastro de vendedor
      operationId: putAlterarVendedor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdSalesman'
        - $ref: '#/parameters/SalesMan'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    delete:
      tags:
        - Salesman
      summary: Deletar cadastro de vendedor
      description: Deletar produto
      operationId: deletarVendedor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdSalesman'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
  '/Salesman/{IdSalesMan}':
    get:
      tags:
        - Salesman
      summary: Buscar informações cadastro de vendedor por id
      description: Buscar informações de produtos por id
      operationId: getConsultarVendedorId
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: IdSalesMan
          type: integer
          in: path
          required: true
      responses:
        '200':
          description: Sucesso
          schema:
            $ref: '#/definitions/SalesManReturn'
        '401':
          description: Não autorizado
        '403':
          description: Acesso negado
        '404':
          description: Cartões não encontrados
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
  /ProductCategory:
    get:
      tags:
        - ProductCategory
      summary: Recupera a lista geral de categoria de produtos
      description: Recupera a lista de categoria de produtos
      operationId: getConsultarCategoria
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Lista de motivos
          schema:
            $ref: '#/definitions/CategoryReturn'
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
    post:
      tags:
        - ProductCategory
      summary: Cadastro de categoria de produtos
      description: Cadastro de categoria produto
      operationId: postCadastrarCategoria
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdProductCategory'
        - $ref: '#/parameters/Product'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    put:
      tags:
        - ProductCategory
      summary: Alterar categoria produto
      description: Alterar categoria produto
      operationId: putAlterarCategoriaProduto
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdProductCategory'
        - $ref: '#/parameters/Product'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    delete:
      tags:
        - ProductCategory
      summary: Deletar categoria produto
      description: Deletar categoria produto
      operationId: deletarProductCategory
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdProductCategory'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
  '/ProductCategory/{IdCategoriaProduto}':
    get:
      tags:
        - ProductCategory
      summary: Buscar informações de produtos por id
      description: Buscar informações de produtos por id
      operationId: getConsultarCategoriaProdutoId
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: IdCategoriaProduto
          type: integer
          in: path
          required: true
      responses:
        '200':
          description: Sucesso
          schema:
            $ref: '#/definitions/ProductCategoryReturn'
        '401':
          description: Não autorizado
        '403':
          description: Acesso negado
        '404':
          description: Cartões não encontrados
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
  /Sales:
    get:
      tags:
        - Sales
      summary: Recupera a lista geral de vendas
      description: Recupera a lista de vendas
      operationId: getConsultarVenda
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Lista de motivos
          schema:
            $ref: '#/definitions/SalesReturn'
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
    post:
      tags:
        - Sales
      summary: Salva a vendas
      description: Salva a vendas
      operationId: postCadastrarVendas
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/SalesMan'
        - $ref: '#/parameters/Buyer'
        - $ref: '#/parameters/Product'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    put:
      tags:
        - Sales
      summary: Alterar a lista de vendas
      description: Alterar a lista de vendas
      operationId: putAlterarVendas
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdSales'
        - $ref: '#/parameters/Product'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
    delete:
      tags:
        - Sales
      summary: Deletar venda
      description: Deletar venda
      operationId: deletar Venda
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/IdSales'
      responses:
        '200':
          description: Sucesso
        '401':
          description: Não autorizado
        '403':
          description: Não tem permissão para executar essa ação
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
  '/Sales/{IdSalesman}':
    get:
      tags:
        - Sales
      summary: Buscar informações da lista de vendas por id
      description: Buscar informações da lista de vendas por id
      operationId: getConsultarVendasId
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: IdSalesman
          type: integer
          in: path
          required: true
      responses:
        '200':
          description: Sucesso
          schema:
            $ref: '#/definitions/SalesManReturn'
        '401':
          description: Não autorizado
        '403':
          description: Acesso negado
        '404':
          description: Cartões não encontrados
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorReturn'
